.password__field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}

.label {
  color: #414141;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.input {
  height: 48px;
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 15px 20px 14px 20px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
}

.error {
  color: #c41013;
  font-size: 14px;
  font-weight: 400;
}

.inputError {
  border: 1.5px solid #c41013;
}

.pass__input__box {
  position: relative;
  margin-bottom: 8px;
}

.eye__btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  padding: 0 24px;
  z-index: 99;
}

.eye__btn img {
  width: 24px;
  height: 24px;
}

@media (max-width: 743px) {
  .eye__btn {
    padding: 0 10px;
  }
}
