main.container {
  margin-top: 24px;
}

.container {
  max-width: 696px;
  min-height: 1171px;
  background-color: #fff;
  border-radius: 16px;
  margin: 0px auto 0px auto;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.nick__name,
.study__name,
.introduction,
f .choice__background,
.password,
.password__check {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

.input__error {
  border: 1.5px solid #c41013 !important;
}

.error__msg {
  align-self: flex-start;
  padding-left: 10px;
  margin-top: 8px;
  color: #c41013;
  font-size: 14px;
  font-weight: 400;
}

.study__create label {
  max-width: 648px;
  width: 100%;
  color: #414141;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.study__create input {
  max-width: 648px;
  width: 100%;
  height: 48px;
  border-radius: 16px;
  border: 1px solid #dddddd;
  padding-left: 20px;
  box-sizing: border-box;
}

.study__create textarea {
  max-width: 648px;
  width: 100%;
  height: 98px;
  border-radius: 16px;
  border: 1px solid #dddddd;
  padding-left: 20px;
  padding-top: 15px;
  resize: none;
  box-sizing: border-box;
}

.container h2 {
  color: #414141;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 24px;
}

.study__create {
  gap: 24px;
}

.choice__background {
  display: flex;
  flex-direction: column;
}

.background__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  max-width: 648px;
}

.background__item {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.paw__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.input__box {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.pass__input {
  width: 100%;
  padding-right: 42px;
  margin: 0 auto;
}

.eye__btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  padding: 0 24px;
  z-index: 99;
}

.eye__btn img {
  width: 24px;
  height: 24px;
}

.submit__btn {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  max-width: 648px;
  margin: 0 auto;
  width: 100%;
}

.study__create__btn {
  cursor: pointer;
  background-color: #99c08e;
  max-width: 648px;
  width: 100%;
  height: 58px;
  padding: 16px 8px;
  border-radius: 16px;
  border: 0px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: background 0.5s;
}

.study__create__btn:disabled,
.study__create__btn.disabled {
  background-color: gray;
  color: #999;
  cursor: not-allowed;
  border: none;
}

@media (max-width: 1199px) {
  .container {
    padding: 16px 16px 20px 16px;
  }
}

@media (max-width: 743px) {
  .hide__on__mobile {
    display: none;
  }
  .container {
    min-width: 344px;
  }
  .container h2 {
    font-size: 16px;
  }
  .study__create label {
    font-size: 16px;
  }
  .background__item {
    width: 148px;
    height: 148px;
  }

  .eye__btn {
    padding: 0 10px;
  }
}
