.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.modal__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
}
.modal__card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 92%;
  max-width: 648px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 24px;
  border-radius: 20px;
  background: #fff;
  box-sizing: border-box;
}
.modal__card .title__area {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}
.modal__card .title__area h4 {
  font-size: 24px;
  font-weight: 700;
}
.modal__card .title__area p {
  font-size: 18px;
  color: #818181;
}
.modal__card .title__area .util {
  position: absolute;
  top: -4px;
  right: 8px;
}
.modal__card .title__area .util button {
  padding: 0;
  display: flex;
  align-items: center;
  height: 32px;
  background: none;
  border: none;
  color: #818181;
  cursor: pointer;
}
