.inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1520px;
  padding: 0 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.btn {
  display: flex;
  width: 252px;
  align-items: center;
  justify-content: center;
  height: 58px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 16px;
  background: #99c08e;
}
@media (max-width: 1199px) {
  .inner {
    max-width: 100%;
    padding: 0 24px;
  }
  .btn {
    width: 160px;
    border-radius: 14px;
  }
}
@media (max-width: 743px) {
  .inner {
    padding: 0 16px;
  }
  .logo img {
    width: 106px;
  }

  .btn {
    width: 106px;
    height: 38px;
    font-size: 12px;
    border-radius: 8px;
  }
}
